/* make the top boxes all the same size */
.phase-panel-col {
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 5px;
}
.phase-overview {
	padding: 0px; /* this gets over-ridden, so we have to redo it */
}
.phase-overview-header {
	padding:2px;
	height: 80px;	
}
.phase-overview-body {
	padding:2px;
	height: 120px;
}
.phase-overview-footer {
	padding:2px;
	height: 100px;	
}
